.page {
    animation: fadeIn 0.5s ease-in-out;
    padding: 20px;
  }
  
  /* Fade-in animation for smooth page transition */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  